
:root {
    --color-primario: #548adc;
    --color-secundario: #A18276;
    --color-terciario: rgb(230, 240, 90);
    --negro: #2c363f;
    --blanco: #FFFAFF;
    --separacion-defecto: 10px;
}

* {
    background-color: var(--blanco);
    color: var(--negro);
    margin: 0;
    padding: 0;
}

h1 {
    font-family: 'Noto Sans JP', sans-serif;
    font-weight: 700;
    border: none;
}

p {
    font-family: 'Noto Sans JP', sans-serif;
    font-weight: 700;
    font-size: 1rem;
    border: none;
    color: darkred;
}

footer {
    margin-top: var(--separacion-defecto);
}

header *, footer {
    border-radius: var(--separacion-defecto);
    background-color: var(--color-primario);
    color: var(--color-terciario);
    border: solid 5px;
    font-size: 1rem;
    font-weight: 200;
    padding: 1.5rem;
}

.container1 {
    max-width: 1000px;
    margin: 0 auto;
}

table.paper {
    width: 100%;
    margin-top: 5px;
    margin-bottom: 50px;
    border-spacing: 5px;
}

th:hover {
    text-align: center;
    text-transform: uppercase;
    font-style: italic;
    border-bottom: 2px;
    background-color: #c7d5f4;
}

td {
    text-align: center;
    font-style: italic;
}

.campo-formulario label {
    display: block;
    font-weight: bold;
    font-size: 1rem;
    padding: 0;
    margin-top: var(--separacion-defecto);
}

.campo-formulario input:not([type="radio"]) {
    float: none;
    width: 50%;
}

.error {
    color: darkred;
    font-weight: bold;
    font-size: 0.8rem;
}

.inactiveLink {
    pointer-events: none;
}
