
:root {
    --color-primario: #006E90;
    --color-secundario: #A18276;
    --color-terciario: #F5CB5C;
    --negro: #2c363f;
    --blanco: #FFFAFF;
    --separacion-defecto: 10px;
}

* {
    background-color: var(--blanco);
    color: var(--negro);
    margin: 0;
    padding: 0;
}

h1 {
    font-family: 'Noto Sans JP', sans-serif;
    font-weight: 700;
    border: none;
/*    display: inline-block; */
}

footer {
    margin-top: var(--separacion-defecto);
}

header *, footer {
    border-radius: var(--separacion-defecto);
    background-color: var(--color-primario);
    color: var(--color-terciario);
    font-size: 1rem;
    padding: 1.5rem;
}

.container1 {
    max-width: 1000px;
    margin: 0 auto;
}

table.paper {
    width: 100%;
}

td {
    text-align: center;
    font-style: italic;
}

.campo-formulario label {
    display: block;
    font-weight: bold;
    font-size: 1rem;
    padding: 0;
    margin-top: var(--separacion-defecto);
}

.campo-formulario input:not([type="radio"]) {
    width: 50%;
}

.error {
    color: darkred;
    font-weight: bold;
    font-size: 0.8rem;
}

.inactiveLink {
    pointer-events: none;
}
