<!DOCTYPE html>

<html lang="en">
    <head id="titulo_grande" class="titulo_grande">
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block titulo_pagina %} {% endblock %}</title>
        <link rel="stylesheet" href="/static/css/styles.css">
        <link rel="stylesheet" href="/static/css/flat_remix.css">
    </head>
    <body>
        <header>
            <h1>ATH - MYCRIPTO</h1>
        </header>
        <section class="container1">
            <nav>
                <p>
                    {% if disableInicio == Null %}
                        <a href="/">Inicio</a> |
                    {% endif %}
                    
                    {% if disableNuevo == Null %}
                        <a href="/nuevo">Nuevo</a> |
                    {% endif %}
                    
                    {% if disablePortfolio == Null %}
                        <a href="/status">Status</a> |
                    {% endif %}
                </p>
            </nav>
            {% with messages = get_flashed_messages() %}
                {% for message in messages %}
                <p class="error"> {{ message }}</p>
                {% endfor %}
            {% endwith %}
            {% block contenido_pagina %} {% endblock %}
        </section>
        <br>
        <footer>© 2021 - Todos los derechos reservados.</footer>
    </body>
</html> 