{% extends 'base.html' %}

{% block titulo_pagina %} Portfolio {% endblock %}

{% block contenido_pagina %}
            <h1>Estado del portfolio de inversión</h1>

                <table class="paper">
                    <tr>
                        <!--<th>Id</th>-->
                        <th>Saldo invertido (€)</th>
                        <th>Total de € invertidos</th>
                        <th>Valor actual de euros (total portfolio)</th>
                    </tr>
                    <tr>
                        
                        <td>{{ "%.2f"|format(saldo) }}</td>
                        <td>{{ "%.2f"|format(invertido) }}</td>
                        <td>{{ "%.6f"|format(valor) }}</td>
                    </tr>
                </table>
{% endblock %}
            
